@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); */
@import url(./fontello.css);

html{
  font-size: 10px;
}
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  font-size: 1.4rem;
  color: #181818; 
  background:url(./images/bg_flower.png) no-repeat 50% 0 scroll,#fff linear-gradient(to bottom, #ccc 0,
   #fff 70%, #fff 100%);
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
.clearfix::after{
  content: "";
  display:block;
  clear:both;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path:polygon(0 0, 0 0, 0 0);
}
/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */
.container{
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 1px 30px;
  position: relative;
}
/* 로고 */
.logo {
  position: absolute;
  top: 26px;
  left: 60px;
}
/* 멤버 링크 */
.member{
  list-style: none;
  padding-left: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}
.member a,
.member li{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
}
.member [aria-hidden]{
  /* margin: 0 5px; */
}
.member a{
  padding: 2px 8px 2px 3px;
  text-transform: uppercase;
} 
/* 메인메뉴 */
.menu{
  background: #db5629 linear-gradient(
    to bottom,
    #ef962f 0%,
    #db5629 35%,
    #db5629 75%,
    #ef962f 100%);
  padding-left: 0;
  list-style: none;
  margin: 0 0 35px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 50px;  
}
.menu-item{
  float: left;
  position: relative;
}
.btn-menu{
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border:0;
  cursor: pointer;
  border-left: 2px solid rgba(255,255,255,.5);
  text-shadow:
  1px 0 0 #000,
  0 1px 0 #000,
  -1px 0 0 #000,
  0 -1px 0 #000;
  line-height: 48px;
  padding: 0 20px;
}
.menu-act .btn-menu{
  color: #ff0;
}
.menu-act .btn-menu::after{
  content: "";
  display: block;
  background-color: #000;
  height: 2px;
}

.sub-menu{
  position: absolute;
  margin:0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  display: none;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu li,
.sub-menu a{
  display: inline-block;
}
.sub-menu a{
  padding: 8px 0;
  margin-right: 1em;
}
.sub-menu a::before{
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: '\e800';
}

.sub-menu1,
.sub-menu2,
.sub-menu3{
  left: 0;
}
.sub-menu4,
.sub-menu5,
.sub-menu6{
  right: 0;
}

/* 비쥬얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0,0);

  }
  100%{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni{
  0%{ opacity: 1;}
  100%{ opacity: 0;}
}

.visual{
  height: 120px;
  position: relative;
}
.visual::before,
.visual::after{
  animation: bgAni 2000ms ease-in-out infinite alternate;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.visual::before{
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after{
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 20px;
  animation-delay: 1000ms;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
  width: 500px;
  animation: textAni 1000ms ease-in-out forwards;
}
/* 메인 콘텐츠 */
.main{
  background-color: #fff;
  min-height: 450px;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding:30px;
  align-items: flex-start;
  border-radius: 15px 15px 0 0;
}

.group1{
  width: 250px;
}

.group3{
  width: 190px;
}
/* 로그인 */
.login{
    background-color: #db5629;
    background-image: radial-gradient(circle at right top,#ef962f, #db5629 );
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #ccc;
    padding: 10px;
    width: calc(100% - 5px);
}
.login-heading{
  color: #ff0;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
.login-form{
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.login-form div{
  margin-bottom: 5px;
}
.login-form label{
  display: inline-block;
  width:55px;
}
.login-form input{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 0.5em;
}
.login-button{
  background-color: #db5629;
  float:right;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 52px;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
}
.member-only{
  background-color: #fff;
  list-style: none;
  padding:10px;
  margin:0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.member-only li:first-child{
  float: left;
}
.member-only li:last-child{
  float: right;
}
.member-only a{
  padding-top: 5px;
  padding-bottom: 5px;
}
.member-only a::before{
  content: '\e803';
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
}
/* 유효성 검사 배너 링크 */
.validation-list{
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

}
.validation-list li a{  
  display: block;
  margin-top:10px;
  border: 1px solid #aaa;
  border-radius: 20px;
  background-color: #eee;
  padding: 8px 10px 8px 45px;
  /* line-heisght: 30px; */
  background-image: url(/css/images/validation_icon.png),
  linear-gradient(180deg, #ccc, #eee);
  background-repeat:no-repeat, repeat;
  background-position: 15px 50%, 0 0;
}
.validation-list li a:hover{
  color: #f00;
}

/* 웹 관련 용어 */
.term{
  background: #ccc linear-gradient(180deg, #ccc, #eee);
  border:1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}
.term-heading{
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list{
  margin:0;
}
.term-list > div{
  margin-top: 10px;
}
.term-list > div::after{
  content: "";
  display: block;
  clear: both;
}
.term-list-subject{
  color: #296897;
}
.term-list-subject,
.term-list-brief{
  width: 145px;
  float: right;
}
.term-list-thumbnail{
  margin-left: 0;
  float: left;
}
.term-list-brief{
  /* background-color: skyblue; */
  margin-left: 0;
  margin-top: 5px;
}

.even .term-list-subject,
.even .term-list-brief{
  width: 145px;
  float: left;
}
.even .term-list-thumbnail{
  margin-left: 0;
  float: right;
}







/* 내가한 section term position 사용 */
/* .term{
  border: 1px solid #aaa;
  border-radius: 10px;
  background:linear-gradient(180deg, #ccc, #eee);
  margin-top: 20px;
  padding: 10px;
}
.term-heading{
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 700;
}
.term-list{
  margin: 0;
}
.term-list > div{
  position: relative;
  padding-left: 100px;
}
.term-list-thumbnail{
  position: absolute;
  bottom:10px;
  left: 15px;
  margin: 0;
}
.term-list-brief{
  margin:5px 0;
}
.even .term-list-thumbnail{
  position: absolute;
  top: 0;
  right: 0;
} */


/* 내일 아침에 와서 할 float */
/* .term{
  background-color: orange;
  border: 1px solid #aaa;
  border-radius: 10px;
  background:linear-gradient(180deg, #ccc, #eee);
  padding: 10px 0 0 10px;
  margin-top: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.term-list{

}
.term-heading{
 background-color: green;
 margin: 0;
 font-size: 1.6rem;
 font-weight: 700;
}
.term-list > div{
  background-color: skyblue;
}
.term-list-subject,
.term-list-brief{
  background-color: blue;
  float: right;
  margin-left: 0;
  margin-top: 10px;
  width: 145px;
}
.term-list-thumbnail{
  background-color: lime;
  float: left;
  margin: 10px 0 0 10px;
}
.term-list-thumbnail img{
  display: block;
  vertical-align: bottom;
} */



/* group2  내가한거*/ 
/* .group2{
  width: 380px;
  display: flex;
  justify-content: center;
}
.search-form{
  background: #ccc linear-gradient(180deg, #ccc, #eee);
  border: 1px solid #eee;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px 25px;
  box-sizing: border-box;

}
.search-form fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}
.search-form label{
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 5px;
}
.search-form label::before{
  content: '\e802';
  font-family:'fontello';
  margin-right: .5em;
}
.search-form input{
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0;
  padding-right: 15px;
  height: 100%;
  width: 180px;
}
.search-form .btn-search{
  border-radius: 3px;
  border: 0;
  color: #eee;
  background-color: #000;
  cursor: pointer;
  font-size: 1.3rem;
  height: 100%;
} */
/* 검색 폼 */
.group2{
  width: 380px;
}
.search-form{
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  border-bottom-color: #fff;
  padding: 15px 25px 10px;
  background:  #ccc linear-gradient(180deg, #ccc, #eee);
}
.search-form fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}
.search-form div[role="group"] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.search-form label,
btn-search{
  white-space: nowrap;
}
.search-form label::before{
  content: '\e802';
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
}
.search-form input[type="search"]{
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 1px 1px 1px 5px;
  height: 24px;
  margin: 0 5px;
  width: 200px;
}
.btn-search{
  border: 1px solid #aaa;
  border-radius: 3px;
  color:#fff;
  background-color: #222;
  font-size: 1.3rem;
  height: 24px;
  padding: 0 10px;
}


/* board */

/* .board{
  background-color: yellow;
  position: relative;
  width: 100%;
}
.notice-list,
.pds-list{
  background-color: blue;
  position: absolute;
  top: 25px;
  left: 0;
  margin: 0;
  list-style: none;
  padding: 0;
} 
.pds-list{
  display: none;
}
.board li a{
  display:inline-block;
  width:calc(100% - 75px);
}
.board li time{
  display: inline-block;
  width:0;
}
.board h2 {
  margin: 0;
}
.notice-heading,
.pds-heading{
  float: left;
}
.notice-more,
.pds-more{
  position: absolute;
  top: 0;
  right: 0;
} */

/* 내가 짠 공지 사항 및 자료실 */
/* .board {
  position: relative;
  background-color: yellow;
}

.notice-list,
.pds-list{
  padding-top:45px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.notice-list li,
.pds-list li{
  margin-bottom: 10px;
}
.notice-list a::before,
.pds-list a::before{
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.notice-list li a,
.pds-list li a{
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  vertical-align: top;
}
.notice-list li time,
.pds-list li time{
  vertical-align: top;
  padding-bottom: 10px;
}

.notice-list{
  display: none;
}
.pds-list{
  display: none;
}
.tab{
  position: absolute;
  top:0;
  left:0;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background:#ccc linear-gradient(180deg, #ccc, #eee);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 5px;
  color: #666;
}

.pds .tab{
  left: 68px;
}
.notice-more,
.pds-more{
  position:absolute;
  top: -8px;
  right: -10px;
  padding: 15px;
}
.board
.icon-plus::before{
  color:hsla(110,50%,30%,1);
} */

/* 공지 사항 및 자료실 */
.board{
  margin-top: 20px;
  position: relative;
  padding-top: 45px;

}
.notice-heading,
.pds-heading{
  background-color: pink;
  position: absolute;
  top: 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.notice-heading{
  left: 0;
}
.pds-heading{
  left: 73px;
}

.tab{
  display: block;
  color: #666;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(180deg, #ccc, #eee);
  padding: 5px 10px;
}
.tab-act .tab{
  color: #db5629;
  border-color: #db5629 #db5629 #fff #db5629 ;
  background: #fff;
}

.notice-list, 
.pds-list, 
.notice-more, 
.pds-more{
  display: none;
}
.tab-act .notice-list, 
.tab-act .pds-list, 
.tab-act .notice-more, 
.tab-act .pds-more{
  display: block;
}
.notice-list,
.pds-list{
  list-style: none;
  margin: 0;
  padding-left: 0;
  min-height: 130px;
}

.notice-list li,
.pds-list li{
  margin-bottom: 10px;
}
.notice-list li::after,
.pds-list li::after{
  content: "";
  display: block;
  clear: both;
}
.notice-list a,
.pds-list a{
  float: left;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
.notice-list a::before,
.pds-list a::before{
  content: '\f192';
  font-family: "fontello";
  display: inline-block;
  margin-right: .2em;

}
.notice-list time,
.pds-list time{
  float: right;
}
.notice-more,
.pds-more{
  /* background-color: lime; */
  position: absolute;
  top: -8px;
  right: -8px;
  padding:  8px;
}
.icon-plus::before{
  color: hsla(110, 70%, 50%, 1);
}

/* 내가짠 새소식 */
/* .news{
  position: relative;
}
.news-head{
  color: #db5629;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid #aaa;
  width: 300px;
  padding: 10px 10px 10px 0;
  margin: 0;
}
.news-aria{
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-left: 130px;
}
.news-aria h3{
  margin-bottom: 5px;
}
.news-aria time{
  display: block;
  margin-bottom: 10px;
}
.news-aria p{
  margin: 0;
}
.news-img{
  position: absolute; 
  top: 30px;
  left: -25px;
}
.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
} */






/* 슬로건 */
.slogan{
  background-color: orange;
}
.footer-bg{
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer{
  background-color: skyblue;
}