@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
html{
  font-size: 10px;
}
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  font-size: 1.4rem;
  color: #181818; 
  background-color: #fff;
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */
.container{
  background-color: #ccc;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  /* margin: 0 auto; */
}
/* 헤더 */
.header{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px 0 30px;
  position: relative;
}
/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 65px;
}
/* 멤버 링크 */
.member{
  list-style: none;
  padding-left: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}
.member a,
.member li{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
}
.member [aria-hidden]{
  /* margin: 0 5px; */
}
.member a{
  padding: 2px 8px 2px 3px;
  text-transform: uppercase;
} 
.visual{
  background-color: lime;
  height: 120px;
}
/* 메인 콘텐츠 */
.main{
  background-color: blue;
  min-height: 450px;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding:30px;
  align-items: flex-start;
}

/* FLOAT */
/* .clearfix::after{
  content: "";
  background-color: yellow;
  clear: both;
  display: block;
} */


.group1{
  background-color: pink;
  width: 250px;
}
.group2{
  background-color: lime;
  width: 380px;
}
.group3{
  background-color: coral;
  width: 190px;
}
.slogan{
  background-color: orange;
}
.footer-bg{
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer{
  background-color: skyblue;
}